@import url('https://fonts.googleapis.com/css?family=Lekton|Lato|Esteban');

$body-color:      #CCCCCC;
$secondary-color: #14A098;
$main-color-dark: #0F292F;
$body-font: 'Lekton';
$highlight-font: 'Lato';
$secondary-font: 'Esteban';