@import url('https://fonts.googleapis.com/css?family=Lekton|Lato|Esteban');

$tertiary-color:      #CCCCCC;
$secondary-color: #14A098;
$body-color:  #8e8e8e;
$main-color-dark: #0F292F;
$body-font:         'Lekton';
$highlight-font:    'Lato';
$secondary-font:    'Esteban';