@import url('https://fonts.googleapis.com/css?family=Lekton|Lato|Esteban');

$body-color:      #CCCCCC;
$secondary-color: #14A098;
$main-color-dark: #0F292F;
$body-font: 'Lekton';
$highlight-font: 'Lato';
$secondary-font: 'Esteban';

// color-scheme
// .test{
//     --primary-color: #501F3A;
//     --secondary-color: #CB2D6F;
//     --text-color: #CCCCCC;
//     --body-color: #14A098;
//     --background-color:  #0F292F;
// }

.introduction { 
    width: 100%;
    height: 100vh;
    background-color: $main-color-dark;
    display: flex;
    align-items: center;
}

.sub-headline {
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: 2.4rem;

}

.headline-name {
    color: #8e8e8e;
    font-family: $highlight-font;
    font-size: 5.4rem;
}

.headline {
    color: $body-color;
    font-family: $highlight-font;
    font-size: 5.4rem;

}

.headline-description {
    color: $body-color;
    font-family: $body-font;
    margin-top: 4rem;
    font-size: 2.4rem;

}