<div class="card">
    <h4 class="card__subheadline">Frontend Project</h4>
    <h3 class="card__headline">Movies App</h3>
    <div class="card__content">
        <p>A PWA app in which you can find all movies you want see all details, see if they have awards and
            if there is a stream service</p>
        <p>A PWA app in which you can find all movies you want see all details, see if they have awards and
            if there is a stream service</p>
    </div>
    <ul class="card__technologies">
        <li><i class="far fa-circle"></i>tech</li>
        <li><i class="far fa-circle"></i>tech</li>
        <li><i class="far fa-circle"></i>tech</li>
    </ul>
    <ul class="card__links">
        <a [routerLink]="['/details']" class="btn btn-primary">Details</a>
        <div class="links">
            <li><i class="fab fa-github"></i></li>
            <li><i class="fas fa-external-link-alt"></i></li>
        </div>
    </ul>
    <div class="card__image">
        <a href=""><img src="assets/management-app/home.png"></a>
    </div>
</div>