<div class="card" [ngClass]="{'card-right': index % 2 == 1}" appScrollAppear (appear)="onAppear()">
    <div class="card__info" [@fadeLeft]='state'>
        <h4 class="card__subheadline">{{project.subheadline}}</h4>
        <h3 class="card__headline">{{project.headline}}</h3>
        <div class="card__content">
            <p>{{project.description}}</p>
        </div>
        <ul class="card__technologies">
            <li *ngFor="let tech of project.technologies">{{tech}}</li>
        </ul>
        <ul class="card__links">
            <a [routerLink]="['/details', project.headline]" class="btn btn-primary">Details</a>
            <div class="links">
                <li><a [href]="project.github"><i class="fab fa-github"></i></a></li>
                <li><a [href]="project.website"><i class="fas fa-external-link-alt"></i></a></li>
            </div>
        </ul>
    </div>
    <div class="card__image" [@fadeRight]='state'>
        <a href=""><img [src]="project.image"></a>
    </div>
</div>