<div [@.disabled] [@social] class="social">
        <a class="social__link" target="_blank" href="https://github.com/andres-cox?tab=repositories"><i
                        class="fab fa-github"></i></a>
        <a class="social__link" target="_blank" href="https://www.linkedin.com/in/andrescoxchuquimia/"><i
                        class="fab fa-linkedin"></i></a>
        <a class="social__link" target="_blank" href="https://www.codewars.com/users/andres-cox"><img
                        src="assets/images/codewars.png"></a>
        <a class="social__link" target="_blank" href="https://stackblitz.com/@andres-cox"><img
                        src="assets/images/stackblitz.svg"></a>
</div>