<img src="assets/management-app/home.png">
<div class="project">
    <div class="container">
        <h2 class="project__title">Project title</h2>
        <p class="project__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique incidunt
            quia
            natus minus dolorem, iure quis
            sapiente veritatis a enim, dignissimos ipsum aut quas perferendis error iste non vel corrupti?</p>
        <div class="card">
            <img class="card__image" src="assets/management-app/employees-list.png">
            <div class="card__content">
                <h3 class="card__title">Using NgRx</h3>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sit
                    commodi
                    aliquam
                    itaque consequuntur natus, deserunt fugit beatae eos, suscipit enim illo similique deleniti
                    dignissimos
                    quae aasd
                    debitis ipsum. Eius, consequuntur!</p>
            </div>
        </div>

        <div class="card">
            <img class="card__image" src="assets/management-app/employees-list.png">
            <div class="card__content">
                <h3 class="card__title">Using NgRx</h3>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sit
                    commodi
                    aliquam
                    itaque consequuntur natus, deserunt fugit beatae eos, suscipit enim illo similique deleniti
                    dignissimos
                    quae
                    debitis ipsum. Eius, consequuntur!</p>
            </div>
        </div>
    </div>
</div>