@import "../../styles/variables";


.about{
    height: 100vh;
    padding: 20% 0;
    .headline{
        font-size: 2.4rem;
        color: $tertiary-color;
    }

    .headline::before {
        content: '1. ';
        color: $secondary-color;

    }

    .about__content{
        color: $body-color;
        font-size: 2.4rem;
    }
    
    .about__skills{
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        font-size: 2.4rem;
    }
}