@import "variables";


.about{
    height: 100vh;
    min-height: 720px;
    padding: 10px 0;
    display: flex;
    align-items: center;

    .about__headline::before {
        content: '1. ';
        color: $secondary-color;

    }

    .about__content{
        color: $body-color;
        p {
            margin-bottom: 1.5rem;
            font-size: 2.4rem;
        }
    }
    
    .about__skills{
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        color: $body-color;
        list-style-type: none;
        font-size: 2.4rem;
        
        li::before {
            content: '';
        }
    }
}