<section class="about" id="about">
    <div class="container">
        <h3 class="about__headline headline">About Me</h3>
        <div class="about__content" [@fade]='state' appScrollAppear (appear)="onAppear()">
            <p>Hello! I'm Andres a self-taugh developer from Bolivia.</p>
            <p>I studied electronic engineering at UMSA in La Paz, eventually I look for computer science field and
                started learning technologies related and creating projects.</p>
            <p>Here are a few technologies I've been working with:</p>
        </div>
        <ul class="about__skills" [@fade]='state'>
            <li><i class="far fa-circle"></i>JavaScript</li>
            <li><i class="far fa-circle"></i>TypeScript</li>
            <li><i class="far fa-circle"></i>Angular</li>
            <li><i class="far fa-circle"></i>Ionic</li>
            <li><i class="far fa-circle"></i>HTML (S)CSS</li>
        </ul>
    </div>
</section>