<section class="contact" id="contact">
    <div class="container">
        <h3 class="contact__headline headline">Contact</h3>
        <div class="contact__content">
            <h2 class="contact__title">Get In Touch</h2>
            <div class="contact__info">
                <p>
                    Interested in working with me? Let's talk, send me an email at
                    <strong>andreshcox@gmail.com</strong>.
                </p>
            </div>
            <a class="btn btn-primary" href="mailto:andreshcox@gmail.com">Send mail</a>
        </div>
    </div>
</section>