<div class="card" [@fade]='state' appScrollAppear (appear)="onAppear()">
    <div class="card__title-content">
        <h3 class="card__title">SPRING FEVER</h3>
        <hr />
        <div class="card__intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
    </div>
    <div class="card__info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et
        dolore
        magna aliqua. Ut enim ad minim.
    </div>
    <div class="card__utility-info">

    </div>

    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
</div>