<div class="card" [@fade]='state' appScrollAppear (appear)="onAppear()">
    <a [routerLink]="['/elecDetails', elecCard.headline]">
        <div class="card__title-content">
            <h3 class="card__title">{{ elecCard.headline}}</h3>
            <hr />
            <div class="card__intro">{{ elecCard.intro }}</div>
        </div>
        <div class="card__info">{{ elecCard.description }}</div>
        <img class="card__img" [src]="elecCard.image">
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
    </a>
</div>