<div class="project">
    <swiper class="swiper-container" [disabled]="disabled" [config]="config" fxFlex="auto">
        <div *ngFor="let slide of slides" class="swiper-slide">
            <img [src]="slide">
        </div>
    </swiper>
    <div class="container">
        <div class="project__headline">
            <h2 class="project__headline-title">{{ project.title }}</h2>
            <div class="project__headline-links">
                <a target="_blank" [href]="github"><i class="fab fa-github"></i></a>
                <a target="_blank" [href]="website"><i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
        <p class="project__description">{{ project.summary }}</p>
        <div class="project__cards">
            <div class="card" *ngFor="let card of project.cards">
                <img class="card__image" [src]="card.image">
                <div class="card__content">
                    <h3 class="card__title">{{ card.subtitle }}</h3>
                    <p class="card__description" [innerHTML]=card.text></p>
                </div>
            </div>
        </div>
        <h2 class="project__headline-title">Comments</h2>
        <p class="project__description">{{ project.conclusion }}</p>
    </div>
</div>