
@import "variables";

.electronics {

    &__content {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    &__headline::before {
      content: '3. ';
      color: $secondary-color;
      font-size: 2.4rem;
    }

    
}









