<section class="electronics" id="electronic">
    <div class="container">
        <h3 class="electronics__headline headline">Electronic Projects</h3>
        <div class="electronics__content">
            <div class="card">
                <div class="card__title-content">
                    <h3 class="card__title">SPRING FEVER</h3>
                    <hr />
                    <div class="card__intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
                </div>
                <div class="card__info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim.
                </div>
                <div class="card__utility-info">

                </div>

                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>

            <div class="card spring-fever">
                <div class="card__title-content">
                    <h3 class="card__title">SPRING FEVER</h3>
                    <hr />
                    <div class="card__intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
                </div>
                <div class="card__info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim.
                </div>
                <div class="card__utility-info">

                </div>

                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>

            <div class="card spring-fever">
                <div class="card__title-content">
                    <h3 class="card__title">SPRING FEVER</h3>
                    <hr />
                    <div class="card__intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
                </div>
                <div class="card__info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim.
                </div>
                <div class="card__utility-info">

                </div>

                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
    </div>
</section>